#bucket2.bucket
  .overlay
  #card4.card
    .topbar
      .arrows
        .uparrow
        .downarrow 
      .innerbar
        .user muteoff 
        .points points: 12
    .content 
      %p 
        Great, hilarious song. Definitely a funny criticism of American culture. I think my favorite part is when Dylan pulls down his pants when asked for collateral. Dylan just had a way with words. 

  #card5.card
    .topbar
      .arrows
        .uparrow
        .downarrow 
      .innerbar
        .user JSugarhigh5
        .points points: 16
    .content 
      %p 
        I can't believe there are not that many comments on this song it is amazing. I wasn't really into Bob Dylan but appreciated his contribution to music then I heard this and was blown away now I can't get enough of him. This song must have definetly been an influence on Nick Cave. Thats just my opinion anyway. 
        
  #card6.card
    .topbar
      .arrows
        .uparrow
        .downarrow 
      .innerbar
        .user BraveSirRobin 
        .points points: 45
    .content 
      %p 
        This is the song that first got me into Dylan. The idea of a song being a surreal dreamlike tale was so new and appealing to me.
