#detail1.detail
  .original
    %p
      "Captain Arab he started
      %br
      Writing up some deeds
      %br
      He said, "Let's set up a fort 
      %br
      And start buying the place with beads" 

  .topbar
    .arrows
      .uparrow
      .downarrow
    .innerbar
      .user ZoSo028 
      .points points: 12
  .content 
    %p 
      This song is brilliant. It really cracks me up. Basically, it is criticizing American culture, and comparing modern (1960's) America's appeal, or lack of, to the appeal of America during the time it was "discovered" by Colombus. It criticizes many aspects of beurocracy and America's unfriendly culture, and it's just great and subtle at the same time.

#heatmap2.heatmap
  #pointer4.pointer{:style => "top: 12em;"}


