#reply2.reply
  .topbar
    .arrows
      .uparrow
      .downarrow 
    .innerbar
      .user LAAC
      .points points: 1
  .content 
    %p 
      Give me a break. 
      %br      
      One line about buying the place with beads doesn't mean that the whole song is about colonialism. Are you the ghost of Barack Obama's father?
