.bucket
  #card1.card
    .topbar
      .arrows
        .uparrow
        .downarrow 
      .innerbar
        .user ZoSo028 
        .points points: 12
    .content 
      %p 
        This song is brilliant. It really cracks me up. Basically, it is criticizing American culture, and comparing modern (1960's) America's appeal, or lack of, to the appeal of America during the time it was "discovered" by Colombus. It criticizes many aspects of beurocracy and America's unfriendly culture, and it's just great and subtle at the same time.

  #card2.card
    .topbar
      .arrows
        .uparrow
        .downarrow 
      .innerbar
        .user Paega
        .points points: 5
    .content 
      %p 
        ZoSo028, I think the joke is actually that the Europeans 'discovered a New World', conveniently ignoring the fact that had already been discovered and colonised for centuries. He's imagining what might happen if another adventurer landed in the USA in the 1960s and claimed it, ignoring the 'natives' (modern day Americans). They want to buy the place with beads :-) 
        %br
        That's how I see the song anyway. It's just a very silly idea while sniping at colonialism at the same time. Like the whole Arab/Ahab confusion, it's just played for laughs. 

  #card3.card
    .topbar
      .arrows
        .uparrow
        .downarrow 
      .innerbar
        .user LAAC
        .points points: 1
    .content 
      %p 
        Give me a break. 
        %br      
        One line about buying the place with beads doesn't mean that the whole song is about colonialism. Are you the ghost of Barack Obama's father?
