.bucket
  .card
    .topbar
      .user Lurgee
      .karma karma: 43
    .content 
      %p 
        tails rhymes with jails, not with ship... but the way he turned it into sail shows that he never wanted to go back to the jail... ^^ 

  .card
    .topbar
      .user ZoSo028 
      .karma karma: 12
    .content 
      %p 
        This song is brilliant. It really cracks me up. Basically, it is criticizing American culture, and comparing modern (1960's) America's appeal, or lack of, to the appeal of America during the time it was "discovered" by Colombus. It criticizes many aspects of beurocracy and America's unfriendly culture, and it's just great and subtle at the same time. 

  .card
    .topbar
      .user LAAC 
      .karma karma: 30
    .content 
      %p 
        "Bob Dylan's 115th Dream" was the song that turned me on to Dylan, and it is still the best, in my view. The reason is that, unlike some Dylan songs, he displays a sense of humor about the seeming callousness and incomprehensibility of American society to newcomers (including "hobo sailors"). When he finally searches for food, cleverly posing as a critic, he orders Crepe Suzette, reminding one of feast or famine, or Marie Antoinette's "let them eat cake." Also, the absurdity of "Food ... flying everywhere" while the narrator "hadn't eaten for five days straight" adds humor to a type of situation that normally elicits sentimental artistic treatment. Finally, the fact that his ruse only serves to lose him his hat shows a moral/ethical sensibility regarding stepping out of line camouflaged under a seemingly absurd and humorous quest to feed himself while freeing his crewmates. An underrated work of art of the highest quality. 


  .card
    .topbar
      .user arno_v
      .karma karma: 56
    .content 
      %p 
        Very funny lyrics. Really feels like a sort of trip when I listed to this song. I like the way the story seems rather unbelievable
