#bucket1.bucket
  .overlay
  #card1.card
    .topbar
      .arrows
        .uparrow
        .downarrow 
      .innerbar
        .user ZoSo028 
        .points points: 12
    .content 
      %p 
        This song is brilliant. It really cracks me up. Basically, it is criticizing American culture, and comparing modern (1960's) America's appeal, or lack of, to the appeal of America during the time it was "discovered" by Colombus. It criticizes many aspects of beurocracy and America's unfriendly culture, and it's just great and subtle at the same time.

  #card2.card
    .topbar
      .arrows
        .uparrow
        .downarrow 
      .innerbar
        .user BloggerET 
        .points points: 56
    .content 
      %p 
        Classic Dylan. I had a radio show in high school, played this or Ballad of a Thin Man every night. The style, sort of a stream of consciousness perspective is rarely matched against this. The genius of it; it combines incredible poetry, often profound, while at the same time disguising itself as absurdism, the likes of which could be compared to Franz Kafka. A deeper meaning, sometime quite mischievous, clouded behind an array of odd circumstances. Love it. 
        
  #card3.card
    .topbar
      .arrows
        .uparrow
        .downarrow 
      .innerbar
        .user thefist
        .points points: 23
    .content 
      %p 
        the part about buying the place with beads refers to when the colonists bought Long Island from the Indians with beads, as that was their currency, which came out to about 24 american dollars 

  #heatmap2.heatmap
    #pointer1.pointer{:style => "top: 21em;"}
    #pointer2.pointer{:style => "top: 6em;"}
    #pointer3.pointer{:style => "top: 3em;"}
