.dylan
  %p
    I was riding on the Mayflower
    %br
    When I thought I spied some land
    %br
    I yelled for Captain Arab
    %br 
    I have yuh understand
    %br 
    Who came running to the deck
    %br 
    Said, "Boys, forget the whale
    %br 
    Look on over yonder
    %br 
    Cut the engines
    %br 
    Change the sail
    %br 
    Haul on the bowline"
    %br 
    We sang that melody
    %br 
    Like all tough sailors do
    %br 
    When they are far away at sea

  %p
    "I think I'll call it America"
    %br 
    I said as we hit land
    %br 
    I took a deep breath
    %br 
    I fell down, I could not stand
    %br 
    Captain Arab he started
    %br 
    Writing up some deeds
    %br 
    He said, "Let's set up a fort
    %br 
    And start buying the place with beads"
    %br 
    Just then this cop comes down the street
    %br 
    Crazy as a loon
    %br 
    He throw us all in jail
    %br 
    For carryin' harpoons

  %p
    Ah me I busted out
    %br
    Don't even ask me how
    %br
    I went to get some help
    %br
    I walked by a Guernsey cow
    %br
    Who directed me down
    %br
    To the Bowery slums
    %br
    Where people carried signs around
    %br
    Saying, "Ban the bums"
    %br
    I jumped right into line
    %br
    Sayin', "I hope that I'm not late"
    %br
    When I realized I hadn't eaten
    %br
    For five days straight

  %p
    I went into a restaurant
    %br
    Lookin' for the cook
    %br
    I told them I was the editor
    %br
    Of a famous etiquette book
    %br
    The waitress he was handsome
    %br
    He wore a powder blue cape
    %br
    I ordered some suzette, I said
    %br
    "Could you please make that crepe"
    %br
    Just then the whole kitchen exploded
    %br
    From boilin' fat
    %br
    Food was flying everywhere
    %br
    And I left without my hat
